{
    0: {
        0: {
            13: [
                (10, Some(13)),
            ],
            96: [
                (10, Some(15)),
            ],
            344: [
                (0, Some(15)),
            ],
            475: [
                (3, Some(4)),
            ],
            479: [
                (0, None),
            ],
            523: [
                (0, Some(10)),
            ],
            600: [
                (0, None),
            ],
        },
    },
    13: {
        10: {
            215: [
                (11, Some(14)),
            ],
            227: [
                (10, None),
            ],
            505: [
                (10, Some(14)),
            ],
        },
        12: {
            100: [
                (6, None),
            ],
            124: [
                (0, Some(15)),
            ],
            208: [
                (0, Some(8)),
            ],
            287: [
                (3, Some(6)),
            ],
            396: [
                (9, Some(12)),
            ],
            405: [
                (2, None),
            ],
            574: [],
        },
        13: {},
    },
    96: {
        10: {},
        12: {
            128: [
                (5, Some(14)),
            ],
            249: [
                (0, None),
            ],
            352: [
                (10, Some(17)),
            ],
            405: [
                (6, Some(12)),
            ],
            595: [
                (15, None),
            ],
            600: [
                (8, Some(10)),
            ],
            613: [
                (0, Some(11)),
            ],
        },
        14: {
            171: [
                (0, Some(3)),
            ],
            242: [
                (5, Some(14)),
            ],
            255: [
                (8, None),
            ],
            370: [
                (16, None),
            ],
            559: [
                (0, Some(9)),
            ],
            574: [
                (0, Some(2)),
            ],
            593: [
                (13, None),
            ],
            599: [
                (10, Some(15)),
            ],
        },
    },
    128: {
        5: {},
        8: {
            316: [
                (13, Some(18)),
            ],
            349: [
                (0, Some(11)),
            ],
            410: [
                (5, Some(6)),
            ],
            523: [
                (8, Some(11)),
            ],
            547: [
                (13, Some(18)),
            ],
            595: [
                (16, None),
            ],
            619: [
                (2, None),
            ],
        },
        9: {
            250: [
                (17, Some(19)),
            ],
            259: [
                (10, None),
            ],
            265: [
                (0, Some(8)),
            ],
            287: [
                (12, Some(13)),
            ],
            447: [
                (0, None),
            ],
            455: [
                (12, Some(16)),
            ],
            505: [
                (1, Some(18)),
            ],
            541: [
                (0, Some(7)),
            ],
            574: [
                (10, Some(15)),
            ],
        },
        11: {
            190: [
                (0, Some(1)),
            ],
            242: [
                (5, Some(10)),
            ],
            265: [
                (11, Some(13)),
            ],
            287: [
                (1, Some(3)),
            ],
            316: [
                (14, None),
            ],
            335: [
                (2, Some(4)),
            ],
            344: [
                (6, None),
            ],
            349: [
                (4, Some(15)),
            ],
            418: [
                (3, Some(4)),
            ],
            477: [
                (0, None),
            ],
            595: [
                (16, Some(17)),
            ],
            606: [
                (16, None),
            ],
            635: [
                (0, Some(18)),
            ],
        },
        12: {
            190: [
                (3, Some(14)),
            ],
            250: [
                (5, Some(8)),
            ],
            328: [
                (0, Some(16)),
            ],
            484: [
                (6, Some(8)),
            ],
            500: [
                (0, Some(3)),
            ],
            547: [
                (14, Some(17)),
            ],
        },
        13: {
            190: [
                (3, Some(6)),
            ],
            312: [
                (10, Some(11)),
            ],
            341: [],
            348: [],
            484: [
                (4, Some(9)),
            ],
            495: [
                (5, Some(12)),
            ],
        },
        15: {},
    },
    215: {
        11: {},
        13: {
            450: [
                (3, Some(5)),
            ],
            662: [
                (16, Some(19)),
            ],
        },
        15: {},
    },
    227: {
        3: {},
        4: {},
        5: {},
        6: {},
        8: {},
        9: {},
        10: {},
        14: {},
        15: {},
        16: {},
        17: {
            312: [
                (6, Some(12)),
            ],
            348: [
                (9, Some(15)),
            ],
            371: [
                (12, Some(19)),
            ],
            455: [
                (4, Some(13)),
            ],
            495: [
                (3, Some(9)),
            ],
            547: [
                (6, None),
            ],
            562: [
                (4, Some(13)),
            ],
        },
        18: {
            312: [
                (15, None),
            ],
            584: [
                (3, None),
            ],
            660: [
                (0, None),
            ],
        },
    },
    249: {
        9: {},
        10: {
            341: [
                (6, Some(11)),
            ],
            349: [
                (6, None),
            ],
            645: [
                (2, Some(6)),
            ],
        },
        15: {
            250: [
                (4, Some(6)),
            ],
            312: [
                (11, Some(13)),
            ],
            448: [
                (12, None),
            ],
            547: [
                (0, Some(3)),
            ],
            613: [
                (0, Some(9)),
            ],
        },
    },
    287: {
        1: {},
        2: {},
        3: {},
        5: {},
        6: {},
        8: {},
        9: {},
        11: {},
        12: {},
        13: {},
        14: {},
        16: {},
        19: {},
    },
    312: {
        0: {},
        1: {},
        2: {},
        3: {},
        4: {},
        6: {},
        9: {},
        10: {},
        11: {},
        12: {},
        13: {},
        15: {
            352: [
                (10, Some(15)),
            ],
        },
        16: {
            335: [
                (12, None),
            ],
            352: [
                (14, None),
            ],
            462: [
                (2, Some(4)),
            ],
            484: [
                (4, Some(15)),
            ],
            562: [
                (10, Some(13)),
            ],
            589: [
                (0, Some(11)),
            ],
            599: [
                (6, Some(13)),
            ],
            619: [
                (10, Some(15)),
            ],
        },
    },
    316: {
        2: {},
        3: {},
        6: {},
        10: {},
        13: {},
        14: {},
        16: {},
        17: {
            335: [
                (2, None),
            ],
            344: [
                (6, Some(10)),
            ],
            541: [
                (13, None),
            ],
        },
        19: {},
    },
    335: {
        0: {},
        1: {},
        2: {},
        3: {},
        6: {},
        7: {},
        8: {},
        11: {},
        12: {},
        15: {
            462: [
                (4, None),
            ],
        },
        16: {
            405: [
                (7, None),
            ],
            471: [
                (0, Some(3)),
            ],
            627: [
                (7, Some(12)),
            ],
        },
        17: {
            396: [
                (10, Some(18)),
            ],
            418: [
                (3, Some(19)),
            ],
            574: [
                (11, Some(19)),
            ],
            645: [
                (5, None),
            ],
        },
        18: {
            345: [
                (10, Some(15)),
            ],
            471: [
                (0, Some(2)),
            ],
            584: [
                (0, Some(12)),
            ],
            589: [
                (8, Some(9)),
            ],
        },
        19: {
            344: [
                (13, Some(16)),
            ],
            345: [
                (9, None),
            ],
            547: [
                (17, None),
            ],
            574: [
                (14, None),
            ],
            584: [
                (3, None),
            ],
        },
    },
    341: {
        1: {},
        2: {},
        6: {},
        7: {},
        10: {
            505: [
                (2, None),
            ],
            576: [
                (0, Some(16)),
            ],
        },
        11: {},
        14: {},
        16: {},
        17: {},
    },
    344: {
        2: {},
        3: {},
        6: {
            364: [
                (5, Some(13)),
            ],
            599: [
                (7, Some(15)),
            ],
        },
        9: {
            450: [
                (13, Some(17)),
            ],
        },
        13: {},
        14: {},
        15: {},
        19: {},
    },
    349: {
        0: {},
        1: {},
        2: {},
        4: {},
        6: {
            500: [
                (0, Some(6)),
            ],
            625: [
                (6, Some(9)),
            ],
        },
        7: {
            418: [
                (19, None),
            ],
            541: [
                (7, Some(9)),
            ],
            601: [
                (17, None),
            ],
        },
        8: {
            445: [
                (0, Some(6)),
            ],
            450: [
                (4, Some(8)),
            ],
            541: [
                (8, Some(9)),
            ],
            547: [],
            600: [
                (18, None),
            ],
            601: [
                (0, Some(5)),
            ],
            619: [
                (0, Some(5)),
            ],
        },
        9: {
            396: [
                (0, Some(15)),
            ],
            405: [
                (1, Some(2)),
            ],
        },
        10: {
            627: [
                (17, Some(18)),
            ],
        },
        11: {},
        12: {},
        14: {},
        17: {},
    },
    352: {
        5: {},
        6: {},
        9: {},
        10: {},
        14: {},
        15: {},
        16: {
            613: [
                (8, None),
            ],
        },
        17: {},
    },
    364: {
        0: {},
        4: {},
        5: {},
        9: {},
        10: {},
        11: {},
        12: {
            437: [
                (0, None),
            ],
            455: [
                (0, Some(18)),
            ],
            484: [
                (8, Some(11)),
            ],
            601: [
                (1, Some(13)),
            ],
        },
        14: {},
    },
    405: {
        0: {},
        1: {},
        2: {},
        4: {},
        5: {},
        6: {},
        7: {},
        9: {},
        10: {},
        11: {},
        13: {},
        14: {},
        17: {},
    },
    410: {
        3: {},
        5: {
            447: [
                (8, None),
            ],
            477: [
                (1, Some(13)),
            ],
        },
        7: {},
        9: {},
        13: {},
        16: {},
        18: {},
    },
    447: {
        1: {},
        8: {},
        13: {
            606: [
                (6, Some(17)),
            ],
            662: [
                (6, None),
            ],
        },
        14: {
            450: [
                (6, Some(15)),
            ],
            500: [
                (0, None),
            ],
            541: [
                (6, Some(15)),
            ],
        },
    },
    450: {
        2: {},
        3: {},
        4: {},
        5: {},
        6: {},
        7: {},
        10: {},
        13: {},
        14: {},
        16: {},
        17: {},
        19: {},
    },
    455: {
        2: {},
        4: {},
        7: {},
        8: {},
        9: {},
        10: {},
        12: {},
        15: {},
        16: {},
        17: {},
        19: {},
    },
    462: {
        1: {},
        2: {},
        3: {},
        4: {},
        6: {},
        7: {},
        12: {},
        14: {},
        16: {},
    },
    475: {
        0: {},
        3: {
            599: [
                (1, Some(8)),
            ],
            619: [
                (2, Some(15)),
            ],
        },
    },
    477: {
        0: {},
        1: {},
        2: {},
        4: {},
        7: {},
        9: {},
        12: {},
        13: {},
        15: {},
        18: {},
        19: {},
    },
    479: {
        5: {},
        14: {
            484: [
                (0, Some(8)),
            ],
            589: [
                (1, Some(7)),
            ],
        },
    },
    484: {
        0: {},
        2: {
            505: [
                (9, Some(14)),
            ],
            535: [
                (13, None),
            ],
            560: [
                (2, Some(9)),
            ],
            574: [
                (2, Some(5)),
            ],
        },
        4: {
            574: [
                (0, Some(1)),
            ],
        },
        6: {
            662: [
                (15, Some(17)),
            ],
        },
        7: {
            491: [
                (3, Some(4)),
            ],
            613: [
                (0, Some(4)),
            ],
        },
        8: {},
        10: {},
        11: {},
        14: {},
        16: {},
        17: {},
        18: {},
    },
    500: {
        2: {},
        5: {
            594: [
                (0, None),
            ],
        },
        12: {},
        16: {},
    },
    505: {
        0: {},
        2: {},
        6: {},
        9: {},
        10: {
            589: [
                (1, Some(2)),
            ],
            595: [
                (10, None),
            ],
        },
        13: {
            584: [
                (11, Some(12)),
            ],
            589: [
                (0, Some(8)),
            ],
            595: [
                (0, Some(16)),
            ],
            600: [
                (0, Some(13)),
            ],
            619: [],
        },
        17: {},
        18: {},
    },
    523: {
        0: {},
        6: {},
        8: {},
        9: {
            562: [
                (17, None),
            ],
            569: [],
        },
        10: {},
        11: {},
        13: {},
        14: {},
        18: {},
        19: {},
    },
    535: {
        1: {},
        5: {},
        6: {},
        8: {},
        12: {},
        13: {},
        15: {
            608: [
                (0, Some(7)),
            ],
        },
        16: {
            625: [
                (4, Some(9)),
            ],
            627: [
                (18, None),
            ],
        },
    },
    541: {
        1: {},
        6: {},
        8: {},
        13: {},
        14: {},
        15: {},
        16: {},
        17: {
            650: [
                (14, None),
            ],
        },
    },
    547: {
        0: {},
        2: {},
        3: {},
        4: {},
        5: {},
        6: {},
        11: {},
        12: {},
        13: {},
        14: {},
        16: {},
        17: {
            574: [
                (9, Some(15)),
            ],
            650: [
                (7, Some(15)),
            ],
            662: [
                (3, Some(19)),
            ],
        },
        18: {},
        19: {},
    },
    560: {
        2: {},
        4: {},
        6: {},
        8: {
            600: [
                (8, Some(13)),
            ],
            635: [
                (4, None),
            ],
        },
    },
    562: {
        0: {},
        4: {},
        8: {},
        10: {},
        11: {},
        12: {},
        14: {},
        17: {},
        18: {},
    },
    574: {
        0: {
            593: [
                (0, Some(5)),
            ],
        },
        1: {},
        2: {},
        4: {},
        8: {},
        9: {},
        11: {},
        14: {},
        18: {},
        19: {},
    },
    576: {
        4: {},
        7: {},
        8: {},
        10: {},
        15: {
            593: [
                (4, Some(12)),
            ],
            594: [
                (0, Some(12)),
            ],
        },
        16: {},
        17: {},
    },
    584: {
        1: {},
        3: {},
        15: {},
    },
    589: {
        0: {},
        1: {},
        6: {},
        7: {},
        8: {},
        10: {},
        15: {},
    },
    593: {
        0: {},
        4: {},
        6: {},
        8: {},
        9: {},
        11: {},
        15: {},
    },
    594: {
        0: {},
        1: {},
        4: {},
        5: {},
        11: {
            619: [
                (2, None),
            ],
            662: [
                (6, Some(16)),
            ],
        },
        12: {},
    },
    595: {
        1: {},
        10: {},
        13: {},
        14: {},
        15: {},
        16: {},
        19: {},
    },
    599: {
        0: {},
        1: {},
        2: {},
        6: {},
        7: {},
        10: {},
        12: {},
        13: {},
        14: {},
        18: {},
    },
    600: {
        5: {},
        6: {},
        7: {},
        8: {},
        9: {
            660: [
                (3, Some(4)),
            ],
        },
        12: {},
        18: {},
    },
    606: {
        3: {},
        6: {},
        7: {},
        16: {},
        19: {},
    },
    608: {
        4: {},
        6: {
            635: [
                (5, Some(18)),
            ],
        },
        9: {},
        12: {},
        17: {},
    },
    613: {
        3: {},
        8: {},
        10: {
            635: [
                (1, Some(16)),
            ],
        },
        16: {},
    },
    619: {
        1: {},
        2: {},
        4: {},
        6: {},
        8: {},
        10: {},
        14: {
            645: [
                (2, None),
            ],
            662: [
                (0, Some(8)),
            ],
        },
        15: {},
    },
    625: {
        1: {},
        4: {},
        6: {},
        8: {},
        10: {},
    },
    627: {
        1: {},
        3: {},
        7: {},
        11: {},
        12: {},
        14: {},
        15: {},
        17: {
            662: [
                (18, Some(19)),
            ],
        },
        18: {},
        19: {
            635: [
                (4, None),
            ],
        },
    },
    635: {
        0: {},
        1: {},
        5: {},
        9: {},
        14: {},
        15: {},
        17: {},
        18: {},
    },
    645: {
        0: {},
        2: {},
        5: {},
        6: {},
        16: {},
        17: {},
    },
    650: {
        0: {},
        2: {},
        7: {},
        14: {},
        16: {
            660: [
                (0, None),
            ],
        },
    },
    660: {
        1: {},
        3: {},
        9: {},
        15: {},
    },
    662: {
        2: {},
        3: {},
        6: {},
        7: {},
        8: {},
        15: {},
        16: {},
        17: {},
        18: {},
        19: {},
    },
}
