name: CI
on:
  pull_request:
  merge_group:
  push:
    branches: [ release, dev ]
  schedule: [ cron: "0 6 * * 4" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Tests pass
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo build --verbose
      - run: cargo test --features=serde --verbose

  clippy:
    name: No warnings from Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Check Clippy lints
        env:
          RUSTFLAGS: -D warnings
        run: cargo clippy

  check_formatting:
    name: Source code is formatted
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check

  check_documentation:
    name: Documentation builds successfully
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Check documentation
        env:
          RUSTDOCFLAGS: -D warnings
        run: cargo doc --no-deps --document-private-items -- -D warnings

  check_commit_conventions:
    name: Commit messages follow project guidelines
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event.action == 'enqueued'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check commit conventions
        uses: wagoid/commitlint-github-action@v5
        with:
          configFile: .commitlintrc.yml
