name: Build code, run tests and deploy doc

on:
  push:
    branches: [ dev ]

env:
  CARGO_TERM_COLOR: always

jobs:
  rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            ./target
            ~/.cargo
          key: ${{ runner.os }}-${{ hashFiles('Cargo.toml') }}
          restore-keys: ${{ runner.os }}

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --features=serde --verbose

      - name: Build documentation
        run: cargo doc --no-deps

      - name: Deploy Documentation
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
          force_orphan: true
